<form [formGroup]="sendForm" (ngSubmit)="onSubmit()">
  <div class="">
    <label for="name">
      Username: <input type="text" id="name" formControlName="name"
    /></label>
    <label for="password"
      >Password:
      <input type="password" id="password" formControlName="password"
    /></label>
    <button type="submit">Submit</button>
  </div>
</form>
<div className="login-form-container">
  <div className="flex-wrap">
    <fieldset>
      <form
        autoComplete="off"
        onSubmit="{handleSubmit}"
        className="LoginRegisterForm"
      >
        <input type="radio" name="rg" id="sign-in" />
        <label htmlFor="sign-in">Login</label>
        <label htmlFor="sign-up">Register</label>

        <input
          className="sign-up sign-in reset"
          name="username"
          id="username"
          type="text"
          placeholder="Username"
          value="{userName}"
        />
        <input
          className="sign-up sign-in"
          name="password"
          id="password"
          type="password"
          placeholder="Password"
          value="{password}"
        />

        <p></p>
      </form>
    </fieldset>
  </div>
</div>
